{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

<h1>{{ product.name }}</h1>
<p><b>Category:</b> {{ product.category }}</p>
<p><b>Price:</b> Rp {{ product.price }}</p>

{% if product.is_featured %}
  <p><b>⭐ Featured Product</b></p>
{% endif %}

{% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="Product thumbnail" style="width:300px; height:auto;">
  <br /><br />
{% endif %}

<p>{{ product.description }}</p>

{% if product.user %}
  <p><b>Author:</b> {{ product.user.username }}</p>
{% else %}
  <p><b>Author:</b> Anonymous</p>
{% endif %}

{% endblock content %}
